@use '@/styles/variables' as *;

.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icons {
  display: flex;
  gap: 2px;
}

.icon {
  font-size: 1.2rem;
}

.active {
  opacity: 1;
}

.empty {
  opacity: 0.3;
  filter: grayscale(1);
}

.reset {
  font-size: 0.7rem;
  color: $text-secondary;
}
