@use '@/styles/variables' as *;

.layout {
  max-width: $mobile-max;
  margin: 0 auto;
  min-height: 100dvh;
}

.main {
  padding-top: $header-height;
  padding-bottom: $bottom-nav-height;
  min-height: 100dvh;
}
