.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #0a0a1a;
}

.loading {
  color: #8892b0;
  font-size: 18px;
  margin-top: 200px;
}

.gameArea {
  border: 2px solid #0f3460;
  line-height: 0;
}
